/* BODY */

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, rgba(96,207,220,1) 0%, rgba(190,52,218,1) 92%);
}

/* MAIN BOX */

.container {
    background-color: white;
    height: 80vh;
    width: 40vw;
    min-width: 100px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 4%;
}

@media (max-width: 600px) {
    .container {
      width: 80vw;
    }
  }

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 50%;
    height: 12%;
}

